<div class="signup-div">
  <div class="signup-title plapper-title-text">{{ 'Your personal info' | translate }} </div>

  <div class="signup-form">
    <div class="input-div"><input plapper-input type=text [(ngModel)]="name" placeholder=" {{ 'Name' | translate }} "/></div>
    <div class="input-div"><input plapper-input type=text [(ngModel)]="surname" placeholder=" {{ 'Surname' | translate }} "/></div>
    <div class="input-div"><input plapper-input type=text [(ngModel)]="secondSurname" placeholder="{{ 'Second Surname' | translate }} "/></div>

    <ion-item>
      <ion-label> {{ 'Sex' | translate }} </ion-label>
      <ion-select [(ngModel)]="sex">
        <ion-option value="{{ s.id }}" *ngFor="let s of sexs; let i = index">{{ s.name | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label> {{ 'Birth Date' | translate }} </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthDate"></ion-datetime>
    </ion-item>
  </div>

  <div class="buttons-div">
    <button plapper-void-button class="enter-button primary-color" (click)="goToPrevStep()"> {{ 'Previous' | translate }} </button>
    <button plapper-void-button class="enter-button primary-color" (click)="goToNextStep()"> {{ 'Continue' | translate }} </button>
  </div>

</div>