second-step {
    .signup-div {
        position: relative;
        width: 100%;
        height: 73vh;
        min-height: 420px;

        .signup-title {
            margin-top: 8vh;
            height: 90px;
        }

        .signup-form {
            height: 250px;

            .input-div {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        .buttons-div {
            display: inline-block;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 34px;

            button {
                width: 49%;
            }
        }
    }

}