<ion-content>

    <div class="lateral-info">
        <button class="lateral-back-button" ion-button clear menuToggle>
            <img class="back-button-img" [src]="backButton"/>
        </button>

        <div class="profile-image"><profile-image></profile-image></div>
        
        <div class="profile-name">
            <strong>Diego Alvarez</strong>
        </div>

        <div class="profile-nickname"> @Dyako</div>
    </div>

    <div class="separator"></div>

    <div class="lateral-options">   
        <div class="option-div">
            <div class="option-icon"><img [src]="personalInfoIcon"/></div>
            <div class="option-name"> {{ 'Personal Info' | translate }} </div>
        </div>
        <div class="option-div">
            <div class="option-icon"><img [src]="myServicesIcon"/></div>
            <div class="option-name"> {{ 'My Services' | translate }} </div>
        </div>
    </div>

    <div class="disconnection-div" (click)="disconnectUser()"> {{ 'Log Out' | translate }} </div>

</ion-content>