page-lateral-menu {
    color: #333333;

    .lateral-info {
        text-align: center;

        .lateral-back-button {
            position: absolute;
            color: blue;
            top: 0px;
            right: 0px;

            .back-button-img {
                width: 25px;
                height: 25px;
            }
        }

        .profile-image {
            margin-top: 80px;
        }

        .profile-name {
            font-size: 1.3em;
            margin-top: 10px;
        }
    }



    .separator {
        height: 2px;
        width: 50%;
        margin-left: 25%;
        background: #dddddd;
        margin-top: 15px;
        margin-bottom: 20px;
    }



    .lateral-options {
        margin-top: 10px;
        padding-left: 25%;
        font-size: 1.3em;
        height: 44vh;
        min-height: 200px;

        .option-div {
            width: 100%;
            height: 5vh;

            .option-icon {
                display: inline-block;
                float: left;
                margin-right: 10px;
                margin-top: 2px;
                width: 20px;
                height: 20px;
            }

            .option-name {
                display: inline-block;
                float: left;
            }
        }
    }

    .disconnection-div {
        text-align: center;
        font-size: 1.3em;
    }
}