workers-list-page {
    ion-content {
        .category-div {
            display: inline-block;
            width: 100%;
            margin-top: 1vh;
            margin-bottom: 1vh;
            height: 130px;
            border-radius: 6px;
            background: $light-gray;
            opacity: 0.8;

            .category-name {
                display: inline-block;
                line-height: 130px;
                text-align: center;
                width: 100%;
                font-size: 1.4em;
                color: #444444;
            }
        }

        .filters-div {
            height: 40px;
            .filter-div {
                text-align: center;
                display: inline-block;
                float: left;
                width: 33.3%;

                .filter-name {
                    text-align: center;
                    padding: 2px;
                }

                .filter-icon {
                    padding: 0px;
                }
            }
        }
    }
}