<!-- HEADER NAV -->
<plapper-header-bar [title]="category.name" [leftButton]="'back'"></plapper-header-bar>

<ion-content plapper-header-scroll>
    <div class="plapper-container">

        <plapper-search-input [(model)]="searchInput" placeholder=" {{ 'Search on' | translate }} {{ category.name | translate }} "></plapper-search-input>

        <div class="category-div">
            <div class="category-name"><strong> {{ category.name }} </strong></div>
        </div>

        <div class="filters-div">
                <div *ngFor="let filter of filters; let i = index;">
                    <div class="filter-div" (click)="setFilterSelected(i)">
                        <ion-col class="filter-name"> {{ filter.name | translate }} </ion-col>
                        <ion-col class="filter-icon"> <plapper-icon [show]="filter.show"></plapper-icon> </ion-col>
                    </div>
                </div>
        </div>

        <ion-slides (ionSlideDidChange)="slideChanged()">
            <ion-slide>
                <plapper-workers [searchInput]="searchInput" [workers]="workers"></plapper-workers>
            </ion-slide>

            <ion-slide>
                <plapper-workers [searchInput]="searchInput" [workers]="workers"></plapper-workers>
            </ion-slide>

            <ion-slide>
                <plapper-workers [searchInput]="searchInput" [workers]="workers"></plapper-workers>
            </ion-slide>
        </ion-slides>

    </div>
</ion-content>