plapper-header-bar {
    .header-div {
        z-index: 100;
        width: 100%;
        height: 50px;
        color: $primary-color;
        background: white;
        padding-left: 6vw;
        padding-right: 6vw;

        transition: 3s;
        box-shadow: 0px 4px 10px white;

        .menu-button-img {
            margin-top: 16px;
            width: 20px;
            height: 20px;
        }

        .left-button {
            display: inline-block;
            float: left;
            width: 20%;
            height: 50px;
        }

        .header-title {
            display: inline-block;
            float: left;
            width: 60%;
            height: 50px;

            text-align: center;
            line-height: 50px;
            font-size: 1.4em;
        }

        .right-button {
            display: inline-block;
            float: left;
            width: 20%;
            height: 50px;
        }
    }

    .header-float-div {
        transition: 0.3s;
        box-shadow: 0px 4px 10px #aaaaaa;
    }
}