<ion-row>
    <div #plapperHeader class="header-div">
        <!-- LEFT BUTTON -->
        <div class="left-button">
            <div *ngIf="isButtonEnabled('menu')" (click)="openMenu()">
                <img class="menu-button-img" [src]="menuButton"/>
            </div>

            <div *ngIf="isButtonEnabled('back')" (click)="goBack()">
                <img class="menu-button-img" [src]="backButton"/>
            </div>
        </div>

        <div class="header-title"> {{ title | translate }} </div>
    </div>
</ion-row>