<div class="signup-div">

  <div class="signup-title plapper-title-text"> {{ '3 steps and you are in!' | translate }} </div>

  <div class="signup-form">
    <div class="input-div"><plapper-input [type]="'text'" [(model)]="userName" (blur)="validateUserName()" [placeholder]="'User Name'" [(error)]="userNameValidation" [(bound)]="userNameBound"></plapper-input></div>
    <div class="input-div"><plapper-input [type]="'text'" [(model)]="email" (blur)="validateEmail()" [placeholder]="'e-mail'" [(error)]="emailValidation" [(bound)]="emailBound"></plapper-input></div>
    <div class="input-div"><plapper-input [type]="'password'" [(model)]="password" (blur)="validatePassword()" [placeholder]="'Password'" [(error)]="passwordValidation" [(bound)]="passwordBound"></plapper-input></div>
    <div class="input-div"><plapper-input [type]="'password'" [(model)]="repeatPassword" (blur)="validateRepeatPassword()" [placeholder]="'Repeat Password'" [(error)]="repeatPasswordValidation" [(bound)]="repeatPasswordBound"></plapper-input></div>
  </div>
    
  <button plapper-void-button class="continue-button primary-color" (click)="goToNextStep()"> {{ 'Continue' | translate }} </button>

  <div class="you-can-div primary-color"> {{ 'You can Sign up too with' | translate }} </div>
  <div class="round-button round-left"><img class="button-img" [src]="facebookImage" /></div>
  <div class="round-button round-right"><img class="button-img" [src]="googleImage" /></div>

</div>