first-step {
    .signup-div {
        position: relative;
        width: 100%;
        height: 73vh;
        min-height: 400px;

        .signup-title {
            margin-top: 8vh;
            height: 110px;
        }

        .signup-form {
            .input-div {
                height: 50px;
            }
        }

        button {
            width: 100%;
        }

        .continue-button {
            margin-bottom: 5px;
        }

        .you-can-div {
            text-align: center;
            padding-top: 3vh;
            padding-bottom: 8px;
        }

        .round-button {
            display: inline-block;
            width: 49%;
            text-align: center;

            .button-img {
                width: 40px;
                height: 40px;
            }
        }

        .round-left {
            padding-left: 10%;
            padding-right: 0%;
        }

        .round-right {
            padding-left: 0%;
            padding-right: 10%;
        }

        .signup-footer {
            position: absolute;
            bottom: 0px;
            font-size: 0.85em;
            width: 100%;
            color: #777777;
            text-align: center;
        }
    }
}