
<ion-slides pager="true">
    <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.img">
    </ion-slide>
</ion-slides>

<div class="registry-buttons">
    <div class="blue-button reg-button" (click)="goToSignupPage()"> {{ 'Sign Up' | translate }} </div>
    <div class="reg-button" (click)="goToLoginPage()"> {{ 'Log In' | translate }} </div>
</div>