registry-page {
    ion-slides {
        width: 100%;
        height:92%;

        img {
            width: 100%;
            height: 100%;
        }

        slider-pager {
            position: absolute;
            margin-top: 200px;
            color: red;
            background: green !important;
        }
    }

    .registry-buttons {
        width: 100%;
        height: 8%;
        padding: 0px;
        margin: 0px;
        background: $dark-white;

        .reg-button {
            display: inline-block;
            text-align: center;
            width: 49.0%;
            margin: 0px;
            height: 100%;
            line-height: 8vh;
            font-size: 1em;
            color: white;
        }

        .blue-button {
            background: $primary-color;
        }
    }
}