plapper-search-input {
    position: relative;
    
    .left-img {
        position: absolute;
        width: 22px;
        height: 22px;
        margin-top: 15px;
        margin-left: 16px;
    }

    input {
        background: $super-light-gray;
        color: $gray;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border-width: 0px;
        border: none;
        padding-left: 54px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .right-img {
        position: absolute;
        top: -4px;
        right: 0px;
        width: 26px;
        height: 26px;
        margin-top: 0px;
        margin-right: 8px;
        background: #999999;
        border-radius: 5px;
        padding: 4px;
    }
}