<div class="left-img"><img [src]="searchImage" (click)="selectInput()"/></div>
<input #searchInput type="text" [(ngModel)]="model" placeholder=" {{ placeholder | translate }}" (keyup)="doCheck()"/>
<div class="right-img" *ngIf="model"><img [src]="cleanImage" (click)="cleanInput()"/></div>