 profile-image {

    .profile {
        width: 100%;
        height: 100px;

        .image-div {
            position: absolute;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }


        .profile-div {
            display: inline-block;
            color: white;
            width: 100px;
            height: 100px;

            .letter-div {
                position: absolute;
                text-align: center;
                line-height: 90px;
                border-radius: 50%;
                background: $primary-color;
            
                .letter {
                    font-size: 4.2em;
                    font-family: 'Corbel';
                    width: 100px;
                    height: 100px;
                }
            }


            .icon-div {
                position: absolute;
                text-align: center;
                margin-top: 72px;
                

                .camera-icon {
                    width: 22px;
                    height: 22px;
                    margin-left: 40px;
                }
            }
        }
    }
 }