<div class="profile">
    <div class="profile-div">
        <div *ngIf="userImage != null" class="image-div"><img src="{{ userImage }}"/></div>
        <div *ngIf="userImage == null" class="letter-div">
            <div class="letter">E</div>
        </div>

        <div class="icon-div">
            <!--ion-icon class="icon" name="camera"></ion-icon-->
            <img class="camera-icon" [src]="cameraIcon" />
        </div>
    </div>
</div>