plapper-icon {
    .icon {
        margin: auto;
        width: 20px;
        height: 3px;
        background: $primary-color;
    }

    .show-icon {
        width: 20px;
        animation: scaleIn 0.2s ease-out;
    }

    .hide-icon {
        width: 0px;
        transition: width 0.2s ease-out;
    }
}