plapper-workers {
    .worker-div {
        width: 100%;
        height: 21vw;
        margin-bottom: 10px;
        border-bottom: 2px solid $super-light-gray;

        .worker-image {
            display: inline-block;
            border-radius: 5px;
            width: 18vw;
            height: 18vw;
            background: $super-light-gray;
            float: left;
        }

        .worker-description {
            display: inline-block;
            width: 62vw;
            padding-left: 20px;
            padding-top: 20px;
            height: 100%;
            float: left;

            .worker-name {
                color: #666666;
                font-weight: 600;
                text-align: left;
                font-size: 0.9em;
            }

            .info-div {
                .stars-div {
                    display: inline-block;
                    float: left;
                    width: 14px;
                    height: 14px;
                    margin: 2px;
                }

                .open-year-div {
                    display: inline-block;
                    float: left;
                    margin-left: 6px;
                    color: $light-gray;
                    font-size: 0.7em;
                    margin-top: 4px;
                }
            }
        }

        .icons-div {
            display: inline-block;
            float:left;
            height: 100%;

            .commentary-icon {
                margin-top: 12vw;
                width: 16px;
                height: 16px;
            }
        }
    }
}