<div class="worker-div" *ngFor="let worker of workers | matchesString:searchInput">
    <div class="worker-image"></div>
    
    <div class="worker-description">
        <div class="worker-name"> {{ worker.name }} </div>
        <div class="info-div">
            <div class="stars-div" *ngFor="let star of worker.stars | fillArray; let i = index;">
                <img *ngIf="i < star" [src]="starImage" />
                <img *ngIf="i >= star" [src]="grayStarImage" />
            </div>
            <div class="open-year-div"> ({{ worker.open_year }}) </div>
        </div>
    </div>

    <div class="icons-div">
        <div class="commentary-icon"><img [src]="commentaryIcon" /></div>
    </div>
</div>