login-page {
    ion-content {
        .login-div {
            position: relative;
            width: 100%;
            height: 73vh;
            min-height: 400px;

            .logo-row {
                align-items: center;
                margin-top: 8vh;
                height: 110px;

                ion-col {
                    text-align: center;
                    color: black;
                    font-size: 2.3em;
                }
            }

            .input-div {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            button {
                width: 100%;
            }

            .you-can-div {
                text-align: center;
                padding-top: 3vh;
                padding-bottom: 2vh;
            }

            .round-button {
                display: inline-block;
                width: 49%;
                text-align: center;

                .button-img {
                    width: 40px;
                    height: 40px;
                }
            }

            .round-left {
                padding-left: 10%;
                padding-right: 0%;
            }

            .round-right {
                padding-left: 0%;
                padding-right: 10%;
            }

            .enter-button {
                margin-bottom: 0px;
            }

            .forgot-pass-button {
                color: #777777;
                margin-top: 20px;
                font-size: 0.75em;
            }
        }

        .signup-footer {
            font-size: 0.85em;
            margin-left: 10%;
            padding-top:10px;
            padding-bottom: 10px;
            width: 80%;
            color: #777777;
            text-align: center;
        }
    }
}