<plapper-header-bar [title]="'Log In'" [leftButton]="'back'"></plapper-header-bar>

<ion-content plapper-header-scroll>
  <div class="plapper-form-container">
    <div class="login-div">
      <ion-row class="logo-row">
        <ion-col class="plapper-title-text"> {{ 'Hi again!' | translate }} </ion-col>
      </ion-row>

      <div class="input-div"><plapper-input [type]="'text'" [(model)]="email" (blur)="validateEmail()" [placeholder]="'e-mail'" [(error)]="emailValidation" [(bound)]="emailBound"></plapper-input></div>
      <div class="input-div"><plapper-input [type]="'password'" [(model)]="password" (blur)="validatePassword()" [placeholder]="'Password'" [(error)]="passwordValidation" [(bound)]="passwordBound"></plapper-input></div>
      
      <button plapper-void-button class="enter-button primary-color" (click)="login()"> {{ 'Enter' | translate }}</button>

      <div class="you-can-div primary-color"> {{ 'You can log in too with' | translate }} </div>
      <div class="round-button round-left"><img class="button-img" [src]="facebookImage" /></div>
      <div class="round-button round-right"><img class="button-img" [src]="googleImage" /></div>

      <button plapper-void-button class="forgot-pass-button"> {{ 'Have you forgot your password?' | translate }} </button>
    </div>
  </div>

  <div class="signup-footer">
      {{ 'On Sign up accept Terms and Conditions of Use and the Politic and Privacy of Plapper' | translate }}
  </div>

</ion-content>