page-home {
    ion-content {
        .category-div {
            display: block;
            width: 100%;
            margin-top: 1vh;
            margin-bottom: 1vh;
            height: 130px;
            border-radius: 6px;
            background: #cccccc;
            opacity: 0.8;
        }

        .category-name {
            display: block;
            line-height: 130px;
            text-align: center;
            width: 100%;
            font-size: 1.4em;
            color: #444444;
        }
    }
}