<!-- LATERAL SLIDE MENU -->
<ion-menu [content]="mycontent">
  <page-lateral-menu></page-lateral-menu>
</ion-menu>

<div #mycontent></div>


<!-- HEADER NAV -->
<plapper-header-bar [title]="'Categories'" [leftButton]="'menu'"></plapper-header-bar>

<!-- MENUS -->
<ion-content plapper-header-scroll>
  <div class="plapper-container">

    <plapper-search-input [(model)]="searchInput" [placeholder]="'What do you need?'"></plapper-search-input>

    <div class="category-div" *ngFor="let category of categories | matchesString:searchInput" (click)="selectCategory(category)">
        <div class="category-name plapper-title-text"> {{ category.name | translate }} </div>
    </div>
  </div>
</ion-content>
