plapper-input {
    input {
        display: block;
        margin: 0px;
        -webkit-appearance: none;
        color: $dark-gray;
        text-align: center;
        width: 100%;
        -webkit-shadow: none;
        border-width: 0px;
    }

    .input-error {
        color: $light-danger;
        opacity: 1;
        animation: fadeIn 0.2s ease-in;
    }

    .input-ok {
        color: $primary;
        opacity: 1;
        animation: fadeIn 0.2s ease-in;
    }



    .border-bottom {
        z-index: -2;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 2px;
        background: #777777;
    }

    .border-bottom-error {
        background: $danger;
        animation: borderScaleOn 0.2s ease-in;
    }

    .border-bottom-ok {
        background: $primary-color;
        animation: borderScaleOn 0.2s ease-in;
    }

    .bound-elem {
        animation: bound 0.5s linear;
    }
}