// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/**********/
/* COLORS */
/**********/

.primary-color {
    color: $primary-color;
    font-weight: 600;
}


/*********/
/* FONTS */
/*********/

@font-face {
  font-family: "Corbel";
  src: url('../assets/fonts/Corbel/Corbel.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Corbel Bold";
  src: url('../assets/fonts/Corbel/Corbel-Bold.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif";
  src: url('../assets/fonts/Droid_Serif/DroidSerif.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif Italic";
  src: url('../assets/fonts/Droid_Serif/DroidSerif-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif Bold Italic";
  src: url('../assets/fonts/Droid_Serif/DroidSerif-BoldItalic.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.plapper-title-text {
  font-family: 'Droid Serif Bold Italic';
  font-size: 2.2em;
  text-align: center;
  color: #333333;
  font-weight: 800;
}

* {
  font-family: 'Corbel Bold';
}


/************/
/* ELEMENTS */
/************/

.plapper-container {
    width: 100%;
    padding: 6vw;
    padding-top: 60px;
}

.plapper-form-container {
    width: 100%;
    padding-top: 60px;
    padding-left: 20vw;
    padding-right: 20vw;
}

ion-header {
  ion-navbar {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: -1;
    }
  }
}

ion-menu {
  z-index: 200 !important;
}


ion-item {
    height: 0px !important;
    width: 100% !important;
    padding: 0px !important;
    color: #333333 !important;
    border-bottom: solid #777777 2px !important;

    ion-label {
        color: #777777 !important;
        font-size: 1em;
    }

    .item-inner {
        border-width: 0px !important;
    }
}

/**************/
/* ANIMATIONS */
/**************/

  @keyframes borderScaleOn {
      0%    { left: 50%; width: 0%; }
      100%  { left: 0%; width: 100%; }
  }

  @keyframes fadeIn {
      0%    { opacity: 0; }
      100%  { opacity: 1; }
  }

  @keyframes fadeOut {
      0%    { opacity: 1; }
      100%  { opacity: 0; }
  }

  @keyframes bound {
      0%    { transform: translateX(-5px); }
      15%   { transform: translateX(5px); }
      30%   { transform: translateX(-5px); }
      45%   { transform: translateX(5px); }
      60%   { transform: translateX(-5px); }
      75%   { transform: translateX(5px); }
      90%   { transform: translateX(-5px); }
      100%  { transform: translateX(0px); }
  }

  @keyframes scaleIn {
        0%  { transform: scale(0); }
        60% { transform: scale(1.1); }
      100%  { transform: scale(1); }
    }