signup-page {
    .signup-background {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .signup-footer {
        font-size: 0.85em;
        margin-left: 10%;
        padding-top:10px;
        padding-bottom: 10px;
        width: 80%;
        color: #777777;
        text-align: center;
    }
}