<div class="signup-background">
  <img src=" {{ backgroundImage }}"/>
</div>


<plapper-header-bar [title]="'Sign Up'" [leftButton]="'back'"></plapper-header-bar>

<ion-content plapper-header-scroll>
  <div class="plapper-form-container">
    <div [hidden]="step != 0"><first-step
                                    (nextStep)="handleNextStep($event)"></first-step></div>
    <div [hidden]="step != 1"><second-step
                                    (nextStep)="handleNextStep($event)"></second-step></div>
    <div [hidden]="step != 2"><third-step
                                    (nextStep)="handleNextStep($event)"></third-step></div>


  </div>

  <div class="signup-footer">
      {{ 'On Sign up accept Terms and Conditions of Use and the Politic and Privacy of Plapper' | translate }}
  </div>
</ion-content>