<div class="signup-div">
  <div class="signup-title plapper-title-text"> {{ 'Your Address' | translate }} </div>

  <div class="signup-form">
    <ion-item>
      <ion-label> {{ 'Comunity' | translate }} </ion-label>
      <ion-select (ngModelChange)="comunityChange($event)" [(ngModel)]="comunity">
        <ion-option value="{{ comunity.id }}" *ngFor="let comunity of comunities; let i = index">{{ comunity.name }}</ion-option>
      </ion-select>
    </ion-item>

    <div [hidden]="comunity === undefined">
      <ion-item>
        <ion-label> {{ 'Province' | translate }} </ion-label>
        <ion-select (ngModelChange)="provinceChange($event)" [(ngModel)]="province">
          <ion-option value="{{ province.id }}" *ngFor="let province of provinces; let i = index">{{ province.name }}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div [hidden]="province === undefined">  
      <ion-item>
        <ion-label> {{ 'Village' | translate }} </ion-label>
        <ion-select [(ngModel)]="village">
          <ion-option value="{{ village.id }}" *ngFor="let village of villages; let i = index">{{ village.name }}</ion-option>
        </ion-select>
      </ion-item>
    </div>

    <div [hidden]="village === undefined">
      <div class="input-div"><input plapper-input type=text [(ngModel)]="address" placeholder=" {{ 'Address' | translate }} "/></div>
      <div class="input-div"><input plapper-input type=text [(ngModel)]="number" placeholder=" {{ 'Number' | translate }} "/></div>
      <div class="input-div"><input plapper-input type=text [(ngModel)]="letter" placeholder=" {{ 'Letter' | translate }} "/></div>
    </div>
  </div>

  <div class="buttons-div">
    <button plapper-void-button class="enter-button primary-color" (click)="goToPrevStep()"> {{ 'Previous' | translate }} </button>
    <button plapper-void-button class="enter-button primary-color" (click)="finishSteps()"> {{ 'Finish' | translate }} </button>
  </div>
</div>