third-step {
    .signup-div {
        position: relative;
        width: 100%;
        height: 73vh;
        min-height: 420px;
        

        .signup-title {
            margin-top: 8vh;
            height: 70px;
        }
    
        .signup-form {
            height: 300px;

            .input-div {
                margin-top: 28px;
                margin-bottom: 28px;
            }
        }

        .buttons-div {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;

            button {
                width: 49%;
            }
        }
    }
}